:root {
  --color-primary: #D2001C;
  --color-secondary: #FED600;
  --color-grey: #BDBDBD;
  --color-grey-medium: #4D4D4D;

  --side-padding: 12rem;

  --main-font-size: 1.6rem;
  --main-line-height: 1.9rem;
}

$bp-largest: 81.25em;    // 1300px
$bp-large: 75em;    // 1200px
$bp-medium: 56.25em;   // 900px
$bp-small: 43.75em;     // 700px
$bp-smallest: 27.5em;  //440px


@font-face {
  font-family: 'SF Text';
  src: url('../fonts/SFUIText-Regular/SFUIText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SF Display';
  src: url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.woff') format('woff');
}

@media only screen and (max-width: $bp-large) {
  :root {
    --side-padding: 2rem;
  }
}

@media only screen and (max-width: $bp-small) {
  :root {
    --main-font-size: 1rem;
    --main-line-height: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul > * {
  list-style-type: none;
  &:not(:last-child) {
    margin-right: .5rem;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  min-width: 320px;
  padding: 1.2rem 4.8rem;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  
  @media only screen and (max-width: $bp-largest) {
    padding: 1.2rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 1rem;
    padding: 0;
  }

}

@media only screen and (max-width: $bp-medium) {
  .hidden-for-tablet {
    display: none
  }
}

@media only screen and (max-width: $bp-small) {
  .hidden-for-phone {
    display: none
  }
}





